<html>
<head>
    <title>Places you've been!</title>
</head>
<body>
    <h1>You added a new place!</h1>
    <p>{{ newplace.getDescription }}</p>
    <p><a href='/'>View your list of things to do.</a></p>
</body>
</html>
