<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Places you've been!</title>
</head>
<body>
    <h1>You added a new place!</h1>
    <p>{{ newplace.getDescription }} - {{ newplace.getDuration }} days</p>
    <ul>
      <li><img src="{{ newplace.getImage }}"></li>
    </ul>

    <p><a href='/'>View your list of you places.</a></p>
</body>
</html>
